/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
  /* Style the tab */
 .tab {
 	display: flex;
 	justify-content: space-between;
     overflow: hidden;
     border: 1px solid #ccc;
     background-color: #f1f1f1;
 }

 /* Style the buttons that are used to open the tab content */
 .tab button {
     background-color: inherit;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     transition: 0.3s;
 }

 /* Change background color of buttons on hover */
 .tab button:hover {
     background-color: #ddd;
 }

 /* Create an active/current tablink class */
 .tab button.active {
     background-color: #ccc;
 }

 /* Style the tab content */
 .tabcontent {
 	background-color: #fff;
     display: none;
     padding: 6px 12px;
     border: 1px solid #ccc;
     border-top: none;
 }

 /* Style skillTab content */
 .skillTab {
     display: flex;
     flex-wrap: wrap;
 }
 .skillTab>ul {
     flex-grow: 1;
     width: 30%;
     padding-left: 2%;
 }
 .skillTab>ul:nth-of-type(even) {
     background-color: #ccc;
 }

 /* employment tab style */
 .employTab tr:nth-of-type(even) {
     background-color: #ccc;
 }
 .employTab td{
     /*border: 1px solid red;*/
     border-collapse: collapse;
 }

 /* custom media query  */
 @media screen and (max-width: 830px) {
     .tab {
          display: block;
      }
 }